* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: monospace, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
  position: relative;
}

.hidden {
  display: none !important;
}

.grey-text {
  color: grey;
}

/* Navigation styles */
#navigation {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background-color: #2c3e50;
  transition: left 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#navigation.active {
  left: 0;
}

#navigation > div:first-child {
  padding: 20px;
  padding-top: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

input[type="search"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

#filters {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  color: white;
}

#filters div p { /* not(.filter) */
  float: inline-start;
  padding-right: 5px;
}

.collapsible-content div {
  padding: 10px;
  row-gap: 3px;
  column-gap: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.collapsible-content {
  height: 0;
  display: none;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.collapsible {
  cursor: pointer;
  outline: none;
}

.collapsible::after {
  content: " +";
  color: grey;
}

.collapsible.active::after {
  content: " -";
  color: grey;
}

.filter {
  display: inline-flex;
  border: 1px solid black;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px 8px;
  position: relative;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #2c3e50;
  cursor: pointer;
  opacity: 0.6;
  /* transition: all 0.2s ease; */
  user-select: none;
}

.filter input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter.checked {
  opacity: 1;
  background-color: #e0e0f0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.filter.checked:not(focus) {
  outline: 2px solid #4CAF50;
}

/* .filter:hover {
  opacity: 0.8;
  background-color: #e8e8e8;
} */

#list {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: white;
}

#list ul {
  padding-inline: 10px;
  list-style-type: none;
  display: grid;
}

.mushroom-list-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
  background-color: #f0f8ff0a;
  padding-block: 5px;
  border-radius: 4px;
}

.mushroom-list-item:first-child {
  justify-self: center;
  align-content: center;
  cursor: default;
  background-color: transparent;
  font-style: italic;
}

.mushroom-list-item button {
  all: unset;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.mushroom-list-item button span {
  display: flex;
  align-items: center;
}

.mushroom-list-item button span:first-child {
  font-weight: 500;
  text-transform: capitalize;
}

.mushroom-list-item button span:last-child {
  color: #6c757d;
  font-size: 0.9em;
  margin-left: 15px;
}

#hideNavigation.hidden {
  opacity: 0;
  visibility: hidden;
  display: block !important;
}

#hideNavigation {
  all: unset;
  position: fixed;
  top: 4px;
  right: calc(50% + 24px / 2 + 8px);
  font-size: x-large;
  cursor: pointer;
  color: #2c3e50;
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 10px;
  background-color: #b9b9b980;
  text-align: center;
  line-height: 24px;
  opacity: 1;
  visibility: visible;
  transition: all 0.4s ease-out;
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 90%;
  bottom: 10px;
  justify-self: center;
}

#closeAboutDialog {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

#showNavigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 5px 10px;
  margin: 5px;
  background-color: transparent;
  color: #2c3e50;
  border: none;
  cursor: pointer;
  font-size: large;
}
/* Navigation styles - END */

#content {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

#info {
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

#rod p {
  text-decoration: underline;
}

#left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f9f9f9;
}

#image {
  position: relative;
  align-content: center;
}

#gallery {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: #34495e;
  padding-top: 30px; /* Make room for the author name */
}

.gallery-wrapper {
  position: relative;
  display: none;
  /* transition: all 0.3s ease-out; */
}

.gallery-wrapper.active {
  display: block;
}

.gallery-wrapper::before {
  content: attr(data-author);
  position: absolute;
  top: -25px;
  left: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: text;
}

.gallery {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  background-color: #34495e;
}

#gallery-plus,
#gallery-minus {
  width: 25px;
  height: 25px;
  position: absolute;
  top: calc(50% - 25px/2);
  cursor: pointer;
}

#gallery-plus {
  right: 0;
}

#gallery-minus {
  left: 0;
}

.gallery-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.gallery-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.gallery-dot.active {
  background-color: #34495e;
  width: 12px;
  height: 12px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  text-align: center;
  flex-direction: column;
}

.marker img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #aab0ee;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 5px;
}

#name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name label:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #2c3e50;
  text-align: center;
}

#name label:last-child {
  color: #34495e;
  font-style: italic;
}

.small {
  text-align: center;
  margin-top: 10px;
  align-items: center !important;
  flex-direction: row !important;
}

.small label {
  font-size: 1rem !important;
  color: #7f8c8d !important;
  display: block;
  width: 40px !important;
}

.small p {
  font-size: 0.8rem !important;
  color: #343b3c !important;
}

#right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: palegoldenrod;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 15px;
  align-items: flex-start;
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 10px;
  align-items: baseline;
}

.info:last-child {
  border-bottom: none;
}

.info label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  color: #2c3e50;
  width: 150px;
  flex-shrink: 0;
}

.info p {
  font-size: 0.9rem;
  color: #34495e;
  margin: 0;
}

#additional {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 15px 15px 0px 15px;
}

.months-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  gap: 4px;
  align-content: center;
  flex-wrap: wrap;
}

.month {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #7f8c8d;
  background-color: #ecf0f1;
  text-transform: uppercase;
}

.month.growing {
  background-color: #2ecc71;
  color: white;
  font-weight: bold;
}

.synonym-card,
.quick-card {
  display: inline-block;
  padding: 6px 12px;
  margin: 5px;
  /* background-color: #ecf0f1; */
  background-color: #f4f7f9;
  color: #1a5f7a;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.synonym-card {
  color: #2c3e50;
}

.quick-card {
  color: #124a81;
}

.edible-red {
  background-image: url("../assets/icons/edible-red.svg");
  border: 1px solid #d32f2f;
  background-color: #ffebee !important;
}
.edible-green {
  background-image: url("../assets/icons/edible-green.svg");
  border: 1px solid #2e7d32;
  background-color: #e8f5e9 !important;
}
.edible-yellow {
  background-image: url("../assets/icons/edible-yellow.svg");
  border: 1px solid #f9a825;
  background-color: #fff3e0 !important;
}
.protected {
  background-image: url("../assets/icons/protected.svg");
  border: 1px solid #1976d2;
  background-color: #e3f2fd !important;
}
.frequency {
  background-image: url("../assets/icons/frequency.svg");
  border: 1px solid #616161;
  background-color: #f5f5f5 !important;
}
.red-list {
  background-image: url("../assets/icons/red-list.svg");
  border: 1px solid #c62828;
  background-color: #ffcdd2 !important;
}

/* .modifiedTag::before {
  display: block;
  content: " ";
  background-image: url(../assets/icons/info-circle-svgrepo-com.svg);
  padding: 5px;
  background-size: cover;
  width: 25px;
  height: 25px;
  opacity: 0.6;
}

.modifiedTag {
  
} */

/* Tooltip CSS */
.marker {
  position: relative;
  display: inline;
  padding-inline-end: 15px;
}

.marker .tooltip {
  position: absolute;
  display: none;
  max-width: max-content;
  width: 60vw;
  left: calc(0px - 5vw);
  text-wrap-mode: wrap;
  text-align: left;
  background-color: black;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: blue 2px dotted;
  opacity: .95;
  z-index: 999;
}

.tooltip:focus,
.marker:hover .tooltip,
.marker:focus .tooltip {
  display: block;
}
/*Tooltip - END*/

/* Placeholder animation */
.placeholder {
  margin: 0 auto;
  height: 10px;
  width: 100%;
  background-color: #eee;
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.animated-background {
  position: relative;
  height: 10px;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
}
/*Placeholder animation - END*/

@media only screen and (max-width: 1000px) {
  *,
  .gallery-wrapper::before  {
    font-size: clamp(0.8rem, 3vw, 1.33rem);
  }
  
  #gallery {
    padding-top: 20px;
  }
  
  .gallery-wrapper::before {
    font-weight: normal;
    top: -17px;
  }
  
  .months-container {
    justify-content: center;
  }
  
  .month {
    letter-spacing: 0.3vw;
  }
  
  #navigation {
    width: 100%;
  }
  
  #content {
    /* top: 10vh; */
  }
  
  #info {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  #left, #right {
    width: 100%;
    padding: 5px;
  }
  
  .info {
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 10px;
    padding-bottom: 15px;
  }
  
  #hideNavigation {
    right: 4px;
  }
  
  .mushroom-list-item {
    margin-bottom: 10px;
  }
  
  .marker .tooltip {
    left: calc(0px - 20vw);
  }
}