--- 
# Only the main Sass file needs front matter (the dashes are enough) 
---

// We import the light theme first.
@import "{{ site.theme }}";

// Now we proceed with minima.
@import "minima/initialize";

// Define media query for dark theme users.
@media (prefers-color-scheme: dark) {
  :root {
    --brand-color :           #1E90FF; /* Dodger Blue */
    --brand-color-light :     #63B8FF; /* Light Blue */
    --brand-color-dark :      #104E8B; /* Dark Blue */
  
    --site-title-color :      #FFFFFF; /* White */
  
    --text-color :            #E0E0E0; /* Light Gray */
    --background-color :      #121212; /* Dark Background */
    --code-background-color : #1E1E1E; /* Code Block Background */
  
    --link-base-color:        #BB86FC; /* Purple */
    --link-visited-color:     #7B1FA2; /* Darker Purple */
    --link-hover-color:       #BB86FC; /* Purple (Same as Base) */
  
    --border-color-01:        #333333; /* Dark Gray */
    --border-color-02:        #444444; /* Slightly Lighter Gray */
    --border-color-03:        #555555; /* Even Lighter Gray */
  
    --table-text-color:       #E0E0E0; /* Light Gray */
    --table-zebra-color:      #1C1C1C; /* Slightly Darker Gray */
    --table-header-bg-color:  #1E1E1E; /* Header Background */
    --table-header-border:    #333333; /* Header Border */
    --table-border-color:     #444444; /* Table Border */
  }
}