@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {
  :root {
    --brand-color: #1abc9c;
    --brand-color-light: #48c9b0;
    --brand-color-dark: #16a085;

    --site-title-color: #ecf0f1;

    --text-color: #ecf0f1;
    --background-color: #2c3e50;
    --code-background-color: #34495e;

    --link-base-color: #1abc9c;
    --link-visited-color: #8e44ad;
    --link-hover-color: #e74c3c;

    --border-color-01: #34495e;
    --border-color-02: #2c3e50;
    --border-color-03: #1c2833;

    --table-text-color: #ecf0f1;
    --table-zebra-color: #34495e;
    --table-header-bg-color: #2c3e50;
    --table-header-border: #1c2833;
    --table-border-color: #1c2833;
  }
}
